##
# Begin proftpd.conf excerpt. For explanation of individual config directives, see the
# great ProFTPD docs at http://www.proftpd.org/docs/directives/configuration_full.html
##
ModulePath /usr/lib/proftpd
LoadModule mod_sql.c
LoadModule mod_sql_mysql.c
LoadModule mod_sql_passwd.c
LoadModule mod_sftp.c
LoadModule mod_sftp_sql.c


DefaultServer on
Umask 002
AllowOverwrite on

# Don't reference /etc/ftpusers
UseFtpUsers off

<IfModule mod_auth_pam.c>
AuthPAM off
</IfModule>

<IfModule mod_sftp.c>
# Enable SFTP
SFTPEngine on
Port 2222
SFTPLog /var/log/proftpd/sftp.log

# Enable SQL based authentication
SQLAuthenticate on

# From http://www.proftpd.org/docs/howto/CreateHome.html
# Note that the CreateHome params are kind of touchy and easy to break.
CreateHome on 770 dirmode 770 uid ~ gid ~

# chroot them to their home directory
DefaultRoot ~

# Defines the expected format of the passwd database field contents. Hint: An
# encrypted password will look something like: {sha1}IRYEEXBUxvtZSx3j8n7hJmYR7vg=
SQLAuthTypes SHA256
SQLPasswordEngine on
SQLPasswordEncoding hex

# That '*' makes that module authoritative and prevents proftpd from
# falling through to system logins, etc
AuthOrder mod_sql.c*

# sftp_users and sftp_groups are the database tables that must be defined with
# the proceeding column names. You can have other columns in these tables and
# ProFTPD will leave them alone. The sftp_groups table can be empty, but it must exist.
SQLUserInfo     ftpuser userid passwd uid gid homedir shell
SQLGroupInfo    ftpgroup groupname gid members

SFTPHostKey /etc/ssh/ssh_host_rsa_key

SFTPCompression delayed
SFTPAuthMethods password

RootLogin off
RequireValidShell off

# IMPORTANT: required for bandwidth accounting
TransferLog /var/log/proftpd/xferlog
SystemLog   /var/log/proftpd/proftpd.log

# SQLLogFile is very verbose, but helpful for debugging while you're getting this working
SQLLogFile /var/log/proftpd/proftpd_sql.sql

## Customize these for production
SQLConnectInfo  ftpd@sql.r2-d2.tharyrok.eu.org ftpd {{ MYSQL_FTP }}

# The UID and GID values here are set to match the user that runs our web app because our
# web app needs to read and delete files uploaded via SFTP. Naturally, that is outside
# the requirements of a basic virtual user setup. But in our case, our web app user needs
# to be able to cd into a virtual user's homedir, and run a `ls` in there. Also, note that
# setting these two IDs here (instead of in our sftp_users table) *only* makes sense if
# you are using the DefaultRoot directive to chroot virtual users.
SQLDefaultUID  510
SQLDefaultGID  500

</IfModule>
