<IfModule mod_sql.c>
SQLBackend        mysql

#Passwords in MySQL are encrypted using CRYPT
SQLAuthTypes            SHA256
SQLAuthenticate         users groups
SQLPasswordEngine on
SQLPasswordEncoding hex

# used to connect to the database
# databasename@host database_user user_password
SQLConnectInfo  ftpd@sql.r2-d2.tharyrok.eu.org ftpd {{ MYSQL_FTP }}


# Here we tell ProFTPd the names of the database columns in the "usertable"
# we want it to interact with. Match the names with those in the db
SQLUserInfo     ftpuser userid passwd uid gid homedir shell

# Here we tell ProFTPd the names of the database columns in the "grouptable"
# we want it to interact with. Again the names match with those in the db
SQLGroupInfo    ftpgroup groupname gid members

# set min UID and GID - otherwise these are 999 each
SQLMinID        500

# Update count every time user logs in
SQLLog PASS updatecount
SQLNamedQuery updatecount UPDATE "count=count+1, accessed=now() WHERE userid='%u'" ftpuser

# Update modified everytime user uploads or deletes a file
SQLLog  STOR,DELE modified
SQLNamedQuery modified UPDATE "modified=now() WHERE userid='%u'" ftpuser

SqlLogFile /var/log/proftpd/sql.log
</IfModule>
