[{{ DOMAIN | replace(".", "-") }}]
listen = /var/run/php/{{ DOMAIN | replace(".", "-") }}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

user = {{ DOMAIN | replace(".", "-") }}
group = {{ DOMAIN | replace(".", "-") }}

pm = ondemand
pm.max_children = 5
pm.process_idle_timeout = 10s
pm.max_requests = 500

env[HOSTNAME] = $HOSTNAME
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
php_admin_value[memory_limit] = 256M
php_flag[display_errors] = off
php_admin_value[date.timezone] = Europe/Brussels
