root=postmaser-{{ ansible_hostname }}@tharyrok.eu.org
mailhub={{ fqdn_mail }}:587
rewriteDomain=tharyrok.eu.org
hostname={{ ansible_fqdn }}
UseTLS=Yes
UseSTARTTLS=Yes
AuthUser=postmaster-{{ ansible_hostname }}@tharyrok.eu.org
{% set key = 'postmaster-' + ansible_hostname + '@tharyrok.eu.org' %}
AuthPass={{ mail_user[key] }}
FromLineOverride=yes

