server:
	auto-trust-anchor-file: "/var/lib/unbound/root.key"
	verbosity: 1
	{% if ansible_fqdn is 'r2-d2.tharyrok.eu.org' %}
	interface: 192.168.70.1
	{% elif ansible_fqdn is 'azi-3.tharyrok.eu.org' %}
	interface: 192.168.12.254
	{% else %}
	interface: 127.0.0.1
	{% endif %}
	port: 53
	do-ip4: yes
	do-ip6: yes
	do-udp: yes
	do-tcp: yes
	access-control: ::1 allow_snoop
	{% if ansible_fqdn is 'r2-d2.tharyrok.eu.org' %}
	access-control: 127.0.0.1 allow_snoop
	access-control: 192.168.70.0/24 allow_snoop
	{% elif ansible_fqdn is 'azi-3.tharyrok.eu.org' %}
	access-control: 127.0.0.1 allow_snoop
	access-control: 192.168.12.0/24 allow_snoop
	{% else %}
	access-control: 127.0.0.1 allow_snoop
	{% endif %}
	root-hints: "/var/lib/unbound/root.hints"
	hide-identity: yes
	hide-version: yes
	harden-glue: yes
	harden-dnssec-stripped: yes
	use-caps-for-id: yes
	cache-min-ttl: 300
	cache-max-ttl: 3600
	prefetch: yes
	rrset-cache-size: 51m
	msg-cache-size: 25m
	so-rcvbuf: 1m
	unwanted-reply-threshold: 10000
	do-not-query-localhost: no
	val-clean-additional: yes

{% for unbound_k, unbound_v in unbounds.iteritems() %}
local-zone: "{{ unbound_k }}." transparent
{% for key ,value in unbound_v.iteritems() %}
	local-data: "{{ key }}.  IN A {{ value }}"
	local-data-ptr: "{{ value }}  {{ key }}"
{% endfor %}

{% endfor %}
