{% for d in domain %}
INSERT INTO `mailserver`.`virtual_domains`(`name`)
SELECT * FROM (SELECT '{{ d }}') AS tmp
WHERE NOT EXISTS (
    SELECT name FROM `mailserver`.`virtual_domains` WHERE name = '{{ d }}'
) LIMIT 1;
{% endfor %}

{% for d in hostname %}
INSERT INTO `mailserver`.`virtual_domains`(`name`)
SELECT * FROM (SELECT '{{ d }}') AS tmp
WHERE NOT EXISTS (
    SELECT name FROM `mailserver`.`virtual_domains` WHERE name = '{{ d }}'
) LIMIT 1;
{% endfor %}

{% for k,v in mail_user.items() %}
{% set domain = k.split('@')[1] %}
INSERT INTO `mailserver`.`virtual_users`(`domain_id`, `password` , `email`)
SELECT * FROM (SELECT (SELECT `id` FROM `mailserver`.`virtual_domains` WHERE name='{{ domain }}' LIMIT 1 ), 'password', '{{ k }}') AS tmp
WHERE NOT EXISTS (
    SELECT 'email' FROM `mailserver`.`virtual_users` WHERE email = '{{ k }}'
) LIMIT 1;
UPDATE virtual_users SET password=ENCRYPT('{{ v }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))) WHERE email='{{ k }}' AND password='password';
{% endfor %}

{% for k,v in catchall.items() %}
{% set domain = k.split('@')[1] %}

INSERT INTO `mailserver`.`virtual_aliases`(`domain_id`, `source` , `destination`)
SELECT * FROM (SELECT (SELECT `id` FROM `mailserver`.`virtual_domains` WHERE name='{{ v.domain }}' LIMIT 1 ), '{{ k }}', '{{ v.mail }}') AS tmp
WHERE NOT EXISTS (
    SELECT `source`, `destination` FROM `mailserver`.`virtual_aliases` WHERE source = '{{ k }}' AND destination = '{{ v.mail }}'
) LIMIT 1;

INSERT INTO `mailserver`.`virtual_domains`(`name`)
SELECT * FROM (SELECT '{{ domain }}') AS tmp
WHERE NOT EXISTS (
    SELECT name FROM `mailserver`.`virtual_domains` WHERE name = '{{ domain }}'
) LIMIT 1;
{% endfor %}

{% for d in postmaster %}
INSERT INTO `mailserver`.`virtual_aliases`(`domain_id`, `source` , `destination`)
SELECT * FROM (SELECT (SELECT `id` FROM `mailserver`.`virtual_domains` WHERE name='{{ d }}' LIMIT 1 ), 'postmaster@{{ d }}', 'postmaster@tharyrok.eu.org') AS tmp
WHERE NOT EXISTS (
    SELECT `source`, `destination` FROM `mailserver`.`virtual_aliases` WHERE source = 'postmaster@{{ d }}' AND destination = 'postmaster@tharyrok.eu.org'
) LIMIT 1;
{% endfor %}
