
	access_log /var/log/nginx/{{ DOMAIN | replace(".", "-") }}-access.log;
	error_log /var/log/nginx/{{ DOMAIN | replace(".", "-") }}-error.log;

	root {{ DIR }};

	location / {
		try_files $uri $uri/ =404;
	}
{% if TECHNO == "php" %}
	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_pass unix:/var/run/php/{{ DOMAIN | replace(".", "-") }}.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
	}
{% endif %}
	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}

	location ~* ^.+.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js)$ {
		expires 7d;
		log_not_found off;
		access_log off;
	}
	location ~ /\. {
		deny all;
		access_log off;
		log_not_found off;
	}

	location = /-error-50x.html { root /var/www/error/; }
	location = /-error-404.html { root /var/www/error/; }
	error_page 404             /-error-404.html;
	error_page 500 502 503 504 /-error-50x.html;
