server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	root {{ item.value.dirs }};

	server_name {{ item.key }} www.{{ item.key }};

	access_log /var/log/nginx/{{ item.key }}-access.log;
	error_log /var/log/nginx/{{ item.key }}-error.log;

	location / {
		try_files $uri $uri/ =404;
	}

	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}

	location ~* ^.+.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js)$ {
		expires 7d;
		log_not_found off;
		access_log off;
	}
	location ~ /\. {
		deny all;
		access_log off;
		log_not_found off;
	}

	location = /-error-50x.html { root /var/www/error/; }
	location = /-error-404.html { root /var/www/error/; }
	error_page 404             /-error-404.html;
	error_page 500 502 503 504 /-error-50x.html;
}
