    add_header X-XSS-Protection "1; mode=block";
    auth_basic "Restricted Area";
    auth_basic_user_file "/etc/nginx/auth/rtorrent";

    location /rtorrent_tharyrok {
        include scgi_params;
        scgi_pass 127.0.0.1:5001;
        auth_basic "Restricted Area"; 
        auth_basic_user_file "/etc/nginx/auth/rtorrent_tharyrok";
    }

    location /rtorrent_flow {
        include scgi_params;
        scgi_pass 127.0.0.1:5002;
        auth_basic "Restricted Area"; 
        auth_basic_user_file "/etc/nginx/auth/rtorrent_flow";
    }

    location /tharyrok {
        alias /media/data/tharyrok;
        auth_basic "Restricted Area"; 
        auth_basic_user_file "/etc/nginx/auth/rtorrent_tharyrok";
        autoindex on;
    }

    location /flow {
        alias /media/data/flow;
        auth_basic "Restricted Area"; 
        auth_basic_user_file "/etc/nginx/auth/rtorrent_flow";
        autoindex on;
    }

    location ^~ /conf/ {
        deny all;
    }

    location ^~ /share/ {
        deny all;
    }