server:
	auto-trust-anchor-file: "/var/lib/unbound/root.key"
	verbosity: 1
	{% for d in unbound_conf['interface'] %}
	interface: {{ d }}
	{% endfor %}
	port: 53
	do-ip4: yes
	do-ip6: yes
	do-udp: yes
	do-tcp: yes
	{% for d in unbound_conf['access'] %}
	access-control: {{ d }} allow_snoop
	{% endfor %}
	root-hints: "/var/lib/unbound/root.hints"
	hide-identity: yes
	hide-version: yes
	harden-glue: yes
	harden-dnssec-stripped: yes
	use-caps-for-id: yes
	cache-min-ttl: 300
	cache-max-ttl: 3600
	prefetch: yes
	rrset-cache-size: 51m
	msg-cache-size: 25m
	so-rcvbuf: 1m
	unwanted-reply-threshold: 10000
	do-not-query-localhost: no
	val-clean-additional: yes

{% for unbound_k, unbound_v in unbounds.items() %}
local-zone: "{{ unbound_k }}." transparent
{% for key ,value in unbound_v.items() %}
	local-data: "{{ key }}.  IN A {{ value }}"
	local-data-ptr: "{{ value }}  {{ key }}"
{% endfor %}

{% endfor %}
