server:
	server-count: 1
	ip-address: 192.168.70.5
	ip-transparent: yes
	do-ip4: yes
	do-ip6: yes
	port: 53
	verbosity: 2
	username: nsd
	zonesdir: "/etc/nsd/zone"
	logfile: "/var/log/nsd.log"
	pidfile: "/run/nsd/nsd.pid"
	hide-version: yes
	identity: "unidentified"
	statistics: 3600
	log-time-ascii: yes
	zonefiles-check: yes

{% for domain in nsd %}
zone:
	name: "{{ domain }}"
	zonefile: "{{ domain }}.zone"
	provide-xfr: 108.61.224.67 NOKEY
	provide-xfr: 173.244.206.25 NOKEY
	provide-xfr: 173.244.206.26 NOKEY
	provide-xfr: 88.198.106.11 NOKEY
	provide-xfr: 78.46.95.154 NOKEY

{% endfor %}
